<div class="container-fluid">
  <%= form_for(@user) do |f| %>
  <div class="row content">
    <div class="col-lg-3  col-sm-12 sidenav">
      <div class="col-lg-12 col-sm-12">
        <h1><%= @user.name %>編集ページ</h1>
      </div>
      <div class="col-lg-12 col-sm-3">
        <div class="circle">
          <% if @user.uid.nil? %>
          <%= attachment_image_tag @user, :profile_image,　class:"img-circle", fallback: "no_image.jpg", size:'200x200'%>
          <% else %>
          <%= image_tag @user.image %>
          <% end %>
        </div>
        <em> 画像の変更</em>
        <% if @user.uid.nil? %>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
        <% else %>
        <p>twitterログインのため画像は変更できません</p>
        <% end %>
      </div>
      <div class="col-lg-12 col-sm-6 col-lg-offset-0 col-sm-offset-3">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to @user.name+"が作成したNanikiru", user_created_path(@user) %></li>
          <li><%= link_to @user.name+"がお気に入りに追加したNanikiru",user_fav_nanikiru_path(@user) %></li>
          <li><%= link_to @user.name+"がfollowしている", user_following_path(@user) %></li>
          <li><%= link_to @user.name+"がfollowされている", user_follower_path(@user) %></li>
        </ul><br>
      </div>
      <%= f.submit "変更を保存", class:"btn-primary btn-lg btn-block btn-base-1 mt-20" %>
    </div>

    <div class="col-lg-9 col-sm-12">
      <div class="row">
        <h4><small><%= @user.name %>の編集ページ</small></h4>
        <hr>
        <h2 class="col-lg-12"><%= f.text_field :name %></h2>
        <br>
        <h5>
          <span class="glyphicon glyphicon-time"></span>
          <% if @user.post_images.present?  %>
          最後の何切る投稿日:<%= @user.post_images.last.created_at.time.strftime("%Y年%-m月%-d日 %T") %>
          <% end %>
        </h5>
        <h4><small>自己紹介</small></h4>
        <hr>
        <h2>Introduction</h2>
        <p>
          <h3>自己紹介文を入力してください<%= f.text_field :introduction %></h3>
        </p>
        <div class="col-lg-3 col-sm-12">
          <%= f.submit "変更を保存", class:"btn-primary btn-lg btn-block btn-base-1 mt-20" %>
        </div>
        <br><br><br><br>


        <h4><small>現在の天鳳段位</small></h4>
        <hr>
        <h2>Current ability</h2>
        <div class="col-lg-6 col-sm-12">
          <div class="row">
            <h2>現在の４人麻雀実力[天鳳相当]</h2>
            <h3 class="mark">
              <p>
                <%= f.select :dan_4p_proper, User.dan_4p_propers_i18n.keys.map { |k| [User.dan_4p_propers_i18n[k], k]} %>
              </p>
            </h3>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="row">
            <h2>現在の３人麻雀実力[天鳳相当]</h2>
            <h3 class="mark">
              <p>
                <%= f.select :dan_3p_proper, User.dan_3p_propers_i18n.keys.map { |k| [User.dan_3p_propers_i18n[k], k]} %>
              </p>
            </h3>
          </div>
        </div>
        <br><br>
        <% end %>
        <h4><small>Game record</small></h4>
        <hr>
        <div class="row">
          <div class="col-lg-3">
            <h2>麻雀ゲーム実績</h2>
          </div>
          <div class="col-lg-4 pull-left">
            <%= link_to "麻雀成績を追加する", new_game_record_path, class:"btn-success btn-lg btn-block btn-base-1 mt-20"%></span>
          </div>
        </div>
        <% if @user.game_records.blank? %>
        <h4><em>麻雀ゲーム実績が登録されていません</em></h4>
        <% end %>
        <div class="col-lg-6 col-sm-12">
          <% current_user.game_records.each do|game_record| %>
          _________________________________
          <%= form_for (game_record) do |f| %>
          <div class="row">
            <div class="field">
              <%= f.label :handle_name %>
              <%= f.text_field :handle_name %>
            </div>

            <div class="field">
              <%= f.label :game_type %>
              <%= f.select :game_type, GameRecord.game_types_i18n.keys.map { |k| [GameRecord.game_types_i18n[k], k]} %>
            </div>

            <div class="field">
              <%= f.label :ability %>
              <%= f.select :ability, GameRecord.abilities_i18n.keys.map { |k| [GameRecord.abilities_i18n[k], k]} %>
            </div>

            <div class="field">
              <%= f.label :game_name %>
              <%= f.select :game_name, GameRecord.game_names_i18n.keys.map { |k| [GameRecord.game_names_i18n[k], k]} %>
            </div>

            <div class="col-lg-6 pull-left">
              <%= f.submit "変更を保存", class:"btn btn-primary btn-block btn-base-1 mt-20" %>
              <%= link_to "削除", game_record_path(game_record), method: "delete", data:{ confirm: "本当に削除しますか"}, class:"btn btn-danger btn-block btn-base-1 mt-20" %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
