<div class="continer-fluid back-all">
  <span id="notice"><%= notice %></span>
  <div class="row back">
    <h1>ユーザー一覧画面</h1>
    <div class="row back-title">
      <div class="col-lg-3">
        <h2><%= @user.name %>をフォローしているユーザー</h2>
      </div>
      <div class="col-lg-3">
        <h2>天鳳段位</h2>
      </div>
      <div class="col-lg-3">
        <h2>自己紹介</h2>
      </div>
    </div>
    <% @user.followers.each do |user| %>
    <%= link_to user_path(user) do %>
    <div class="row back-prof">
      <div class=" col-lg-3">

        <%= attachment_image_tag user, :profile_image,class: "img-circle profile-thumb", fallback: "no_image.jpg", size: "100x100" %><br>
        <%= user.name %>

      </div>
      <div class="col-lg-3">
        <label>
          <h4>四人麻雀：</h4>
        </label>
        <strong><%= user.dan_4p_proper_i18n %></strong>
        <br>
        <label>
          <h4>三人麻雀：</h4>
        </label>
        <strong><%= user.dan_3p_proper_i18n %></strong>
      </div>
      <div class="col-lg-6">
        <%= user.introduction %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
