<p id="notice"><%= notice %></p>
<div class="container">
  <%= @users.each do |user| %>
  <div class="row">
    <div class="col-lg-2">
      <%= attachment_image_tag user, :profile_image,class: "img-circle profile-thumb", fallback: "no_image.jpg", size: "100x100" %><br>
      <%= user.name %>
    </div>
    <div class="col-lg-4">
      <label>現在の４人麻雀実力[天鳳相当]</label>
      <%= user.dan_4p_proper_i18n %>
      <label>現在の３人麻雀実力[天鳳相当]</label>
      <%= user.dan_3p_proper_i18n %>
    </div>
    <div class="col-lg-6">
      <%= user.introduction %>
    </div>
  </div>
  <% end %>
</div>
