<header>
	<div class="container">
		<div class="row">
			<nav class="nav navbar-nav navbar-left logo">
				<%= link_to "Home", root_path %>
			</nav>
			<nav class="header-icon">
				<%= link_to new_post_image_path do %>
				<i class=""></i>
				<br>新規投稿</p><% end %>
				<p>
					<%= link_to users_path do %>
					<i class="fas fa-home fa-3x"></i>
					<br>ユーザー一覧</p><% end %>
				<p>
					<%= link_to user_path(current_user.id) do %>
					<i class="fas fa-cogs fa-3x"></i>
					<br>ユーザー情報詳細</p> <% end %>
				<p>
					<%= link_to destroy_user_session_path, method: :delete do %>
					<i class="fas fa-shoe-prints fa-3x"></i>
					<br>Log Out</p><% end %>

				<div class="row">
					<p><%= link_to  current_user.name+"が作成したNanikiru", user_created_path(current_user) %></p>
				</div>
				<div class="row">
					<p><%= link_to  current_user.name+"が回答したNanikiru", user_selected_path(current_user) %></p>
				</div>
				<div class="row">
					<p><%= link_to  current_user.name+"がお気に入りに追加したNanikiru", user_favorites_path(current_user) %></p>
				</div>
			</nav>
		</div>
	</div>
</header>
