<%= form_with(model: game_record, local: true) do |form| %>
  <% if game_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_record.errors.count, "error") %> prohibited this game_record from being saved:</h2>

      <ul>
      <% game_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :handle_name %>
    <%= form.text_field :handle_name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type %>
  </div>

  <div class="field">
    <%= form.label :ability %>
    <%= form.number_field :ability %>
  </div>

  <div class="field">
    <%= form.label :game_name %>
    <%= form.number_field :game_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
