<div class="container-fluid">
  <div class="col-lg-6 col-sm-12 col-lg-offset-3">
    <h1><%= current_user.name%>のゲーム実績登録画面</h1>

    <%= form_for [@game_record] do |f| %>

    <div class="form-group">
      <label for="name">ゲーム内でのハンドルネーム</label><br>
      <%= f.text_field :handle_name,autofocus: true,placeholder:"ハンドルネーム",class:"form-control",id:"name" %>
      <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
    </div>

    <div class="form-group">
      <label for="InputSelect">ゲームの種類を教えてください</label><br />
      <%= f.select :game_type, GameRecord.game_types_i18n.keys.map { |k| [GameRecord.game_types_i18n[k], k]},{},{class:"form-control"} %>
    </div>

    <div class="form-group">
      <label for="InputSelect">ゲーム内での強さを教えてください</label><br />
      <%= f.select :ability, GameRecord.abilities_i18n.keys.map { |k| [GameRecord.abilities_i18n[k], k]},{},{class:"form-control"} %>
    </div>

    <div class="form-group">
      <label for="InputSelect">ゲームの名前を教えてください</label><br />
      <%= f.select :game_name, GameRecord.game_names_i18n.keys.map { |k| [GameRecord.game_names_i18n[k], k]},{},{class:"form-control"} %>

    </div>

    <div class="actions">
      <%= f.submit "ゲーム実績を登録", class:"btn btn-primary btn-lg btn-block btn-base-1 mt-20" %>
    </div>
    <% end %>
  </div>
</div>
