<h1>New Game Record</h1>
ユーザーネーム<%= current_user.name%>

<%= form_for [@game_record] do |f| %>

<div class="field">
  <%= f.label :handle_name %>
  <%= f.text_field :handle_name %>
</div>

<div class="field">
  <%= f.label :game_type %>
  <%= f.number_field :game_type %>
</div>

<div class="field">
  <%= f.label :ability %>
  <%= f.number_field :ability %>
</div>

<div class="field">
  <%= f.label :game_name %>
  <%= f.number_field :game_name %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
