<h1>New Game Record</h1>
ユーザーネーム<%= current_user.name%>

<%= form_for [@game_record] do |f| %>

<div class="field">
  <%= f.label :handle_name %>
  <%= f.text_field :handle_name %>
</div>

<div class="field">
  <%= f.label :game_type %>
  <%= f.select :game_type, GameRecord.game_types_i18n.keys.map { |k| [GameRecord.game_types_i18n[k], k]} %>
</div>

<div class="field">
  <%= f.label :ability %>
  <%= f.select :ability, GameRecord.abilities_i18n.keys.map { |k| [GameRecord.abilities_i18n[k], k]} %>
</div>

<div class="field">
  <%= f.label :game_name %>
  <%= f.select :game_name, GameRecord.game_names_i18n.keys.map { |k| [GameRecord.game_names_i18n[k], k]} %>

</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
