<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game_record.user_id %>
</p>

<p>
  <strong>Handle name:</strong>
  <%= @game_record.handle_name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @game_record.type %>
</p>

<p>
  <strong>Ability:</strong>
  <%= @game_record.ability %>
</p>

<p>
  <strong>Game name:</strong>
  <%= @game_record.game_name %>
</p>

<%= link_to 'Edit', edit_game_record_path(@game_record) %> |
<%= link_to 'Back', game_records_path %>
