<div class="container-fluid">
  <div class="row content">
    <div class="col-lg-3  col-sm-12 col-xs-12 sidenav">
      <div class="col-lg-12 col-sm-12">
        <h1>Name:<%= @user.name %></h1>
      </div>
      <div class="col-lg-12 col-sm-3 col-xs-12">
        <div class="circle">
          <%= attachment_image_tag @user, :profile_image,　class:"img-circle", fallback: "no_image.jpg", size:'200x200'%>
        </div>
      </div>
      <div class="col-lg-12 col-sm-6 col-xs-6 col-lg-offset-0 col-sm-offset-3 col-xs-offset-3">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to @user.name+"が作成したNanikiru", user_created_path(@user),class:"btn-flat-simple" %></li>
          <li><%= link_to @user.name+"がお気に入りに追加したNanikiru",user_fav_nanikiru_path(@user),class:"btn-flat-simple" %></li>
          <li><%= link_to @user.name+"がfollowしている", user_following_path(@user),class:"btn-flat-simple" %></li>
          <li><%= link_to @user.name+"がfollowされている", user_follower_path(@user),class:"btn-flat-simple" %></li>
        </ul><br>
      </div>
      <!-- current-userには通報機能いらない -->
      <% if @user.id != current_user.id %>
      <button type="button" class="btn-flat-bottom-border" data-toggle="collapse" data-target="#report">
        通報
      </button>
      <div id="report" class="collapse">
        <div class="row report">
          <!-- 通報機能 -->
          <%= form_for [@user, @report] do |f| %>
          <div class="col-lg-6 col-sm-12 form-inline">
            <label for="">Report type</label>
          </div>
          <div style="padding: 10px%;"></div>
          <%= f.select :report_type, Report.report_types_i18n.keys.map { |k|[Report.report_types_i18n[k], k]},{},{class:"form-control"} %>
          <%= f.text_area :comment,class:"form-control",placeholder: "通報内容を記入してください" %>
          <span>
            <%= f.submit "通報する",data: {confirm: 'このユーザーを通報しますか？' }, class:"btn btn-danger btn-lg btn-block btn-base-1 mt-20" %>
          </span>
          <% end %>
        </div>
      </div>
      <span class="col-lg-11 col-sm-12">
        <!-- followボタン -->
        <%= render 'site/relationships/follow_button', user: @user %>
      </span>
      <% end %>
      <!-- current-user編集 -->
      <span class="row">
        <% if @user.id == current_user.id %>
        <p>
          <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-sm btn-primary"%>
        </p>
        <% end %>
      </span>
    </div>

    <div class="col-lg-9 col-sm-12">
      <div class="row">
        <h4><small><%= @user.name %>の詳細ページ</small></h4>
        <hr>

        <div>
          <font size="6"> ユーザー名：<%= @user.name %></font>
        </div>
        <!-- followボタン -->
        <span class="col-lg-6 col-sm-6">
          <%= render 'site/relationships/follow_button', user: @user %>
        </span>




        <!-- current-user編集 -->
        <span class="row">
          <% if @user.id == current_user.id %>
          <p>
            <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-xs btn-primary"%>
          </p>
          <% end %>
        </span>

        <br>
        <h5>
          <span class="glyphicon glyphicon-time"></span>
          <% if @user.post_images.present?  %>
          最後の何切る投稿日:<%= @user.post_images.last.created_at.time.strftime("%Y年%-m月%-d日 %T") %>
          <% end %>
        </h5>
        <h4><small>自己紹介</small></h4>
        <hr>
        <h2>Introduction</h2>
        <p>
          <h3><%= @user.introduction %></h3>
        </p>
        <br><br>

        <h4><small>現在の天鳳段位</small></h4>
        <hr>
        <h2>Current ability</h2>
        <div class="col-lg-6 col-sm-12">
          <div class="row">
            <h2>現在の４人麻雀実力[天鳳相当]</h2>
            <h3 class="mark"><strong><%= @user.dan_4p_proper_i18n %></strong></h3>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="row">
            <h2>現在の３人麻雀実力[天鳳相当]</h2>
            <h3 class="mark"><strong><%= @user.dan_3p_proper_i18n %></strong></h3>
          </div>
        </div>
        <br><br>
        <h4><small>Game record</small></h4>
        <hr>
        <% if @user.id == current_user.id  %>
        <div class="row">
          <div class="col-lg-4">
            <h2>麻雀ゲーム実績</h2>
          </div>
          <div class="col-lg-8">
            <div class="col-lg-4 pull-left">
              <%= link_to "麻雀成績を追加する", new_game_record_path, class:"btn-success btn-lg btn-block btn-base-1 mt-20"%>
              </span>
            </div>
          </div>
        </div>
        <% end %>

        <% if @user.game_records.blank? %>
        <h4><em>麻雀ゲーム実績が登録されていません</em></h4>
        <% end %>
        <div class="col-sm-12">
          <p>
            <% @user.game_records.each do|game_record| %>
            <div class="row" style="margin: 0px;">
              _________________________________
              <div class="row">
                <label>Mahjong game type:</label>
                <%= game_record.game_type_i18n %>
              </div>
              <div class="row">
                <label>Game:</label>
                <%= game_record.game_name_i18n %>
              </div>
              <div class="row">
                <label>Handle name for game :</label>
                <%= game_record.handle_name %>
              </div>
              <div class="row">
                <label>Game strength: </label>
                <%= game_record.ability_i18n %>
              </div>
            </div>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
