<p id="notice"><%= notice %></p>

<h1>Site Reports</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_reports.each do |site_report| %>
      <tr>
        <td><%= site_report.comment %></td>
        <td><%= site_report.type %></td>
        <td><%= link_to 'Show', site_report %></td>
        <td><%= link_to 'Edit', edit_site_report_path(site_report) %></td>
        <td><%= link_to 'Destroy', site_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site Report', new_site_report_path %>
