<!-- タブ・メニュー -->
<div class="nav-back sticky">
  <ul class="nav nav-tabs center">
    <li class="active"><a href="#index" data-toggle="tab">新着順</a></li>
    <li><a href="#index-4p" data-toggle="tab">4人麻雀</a></li>
    <li><a href="#index-3p" data-toggle="tab">3人麻雀</a></li>
    <li><a href="#index-others" data-toggle="tab">その他</a></li>
  </ul>
</div>
<div class="container-fluid top-fluid">
  <!-- タブ内容 -->
  <div class="tab-content">
    <!-- 新着順全て -->
    <div class="tab-pane fade in active" id="index">
      <%= render 'site/post_images/style', post_images: @post_images %>
    </div>
    <!-- 4人麻雀 -->
    <div class="tab-pane fade in" id="index-4p">
      <%= render 'site/post_images/style', post_images: @post_4p_images %>
    </div>
    <!-- 3人麻雀 -->
    <div class="tab-pane fade in" id="index-3p">
      <%= render 'site/post_images/style', post_images: @post_3p_images %>
    </div>
    <!-- その他 -->
    <div class="tab-pane fade in" id="index-others">
      <%= render 'site/post_images/style', post_images: @post_other_images %>
    </div>
  </div>

  <!-- footer -->
  <div class="fixed">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <span>
          <%= link_to nanikiru_all_path do%>
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          新着順
          <% end %>
        </span>
      </div>
      <div class="col-lg-3 col-sm-6">
        <span>
          <%= link_to nanikiru_4p_path do %>
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          4人麻雀
          <% end %>
        </span>
      </div>
      <div class="col-lg-3 col-sm-6">
        <span>
          <%= link_to nanikiru_3p_path do %>
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          3人麻雀
          <% end %>
        </span>
      </div>
      <div class="col-lg-3 col-sm-6">
        <span>
          <%= link_to nanikiru_other_path do %>
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          その他
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
