<p id="notice"><%= notice %></p>
<h1>New Nanikiru</h1>

<%= form_with model: @post_image,local: true do |f| %>

<label for="">Name</label>
<%= current_user.name %>

<div class="field">
  <label for="">Game type</label>
  <%= f.select :image_type, PostImage.image_types_i18n.keys.map { |k| [PostImage.image_types_i18n[k], k]} %>
</div>
<%#= f.select :report_type, Report.report_types_i18n.keys.map { |k| [Report.report_types_i18n[k], k]} %>


<div class="field">
  <label for="">画像投稿</label>
  <div>
    <%= f.attachment_field :image %>
  </div>
</div>

<div class="field">
  <%= f.label :comment %>
  <%= f.text_area :comment %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>


<%= link_to 'Back', post_images_path %>
