      <div class="container-fluid">
        <div class="row content content-back">
          <!-- 左側 -->
          <div class="col-lg-3  col-sm-12 sidenav">
            <%= render 'site/users/prof', user: @post_image.user, report: @report %>
          </div>
          <!-- 右側 -->
          <div class="col-lg-9 col-sm-12">
            <div class="row">
              <div class="index-content mg-none">
                <div class="col-xs-12 col-sm-12 col-lg-6 col-lg-offset-2" style="padding-top: 20px;">
                  <!-- render_card -->
                  <%= render 'site/post_images/card', post_image: @post_image %>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <h3>コメント</h3>
                  <p><%= @post_image.comment %></p>
                </div>
                <div class="col-lg-12">
                  <h3><small>あなたは何切る？？</small></h3>
                  <h4><small>クリックするとアンケート結果画面に飛びます！！</small></h4>
                </div>
                <div class="col-lg-12 mt-10">
                  <!-- 選択肢一覧 -->
                  <!-- selectionsの重複を表示させない -->
                  <div class="col-sm-12">
                    <div class="select-back">
                      <% selection_name_array = [] %>
                      <% if @post_image.selections.blank? %>
                      <h5><label for="select">選択肢がありません!!新しく選択肢を追加して下さい</label>
                      </h5>
                      <% end %>
                      <% @post_image.selections.each do |selection| %>
                      <!-- 選択肢に初期設定のselectを表示させないかつ選択肢が重複していない -->
                      <% if selection.name != "select" && selection_name_array.exclude?(selection.name) %>
                      <% selection_name_array.push(selection.name) %>
                      <%= form_for [@post_image, @answer] do |f| %>
                      <%= f.hidden_field :selection_id, :value => selection.id %>
                      <%= f.submit selection.name_i18n, class: "btn btn-lg btn-success active" %>
                      <% end %>
                      <% end %>
                      <% end %>
                    </div>
                  </div>
                  <%= form_with model: @selection, local: true do |form| %>
                  <%= form.hidden_field :post_image_id, :value => @post_image.id %>
                  <div class="col-lg-7 col-sm-12">
                    <%= form.select :name, Selection.names_i18n.keys.map { |k| [Selection.names_i18n[k], k]},{},{class:"form-control"} %>
                  </div>
                  <div class="col-lg-5 col-sm-12">
                    <%= form.submit "新しい選択肢を追加する",class:"btn-sm btn-info",style:"margin-bottom:30px" %>
                  </div>
                  <% end %>
                  <br><br><br><br><br><br>
                  <% if @post_image.user_id == current_user.id %>
                  <%= link_to 'Edit', edit_post_image_path(@post_image),class:"btn edit-btn btn-block" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
