<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post_image.user.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @post_image.image_type_i18n %>
</p>

<p>
  <%= attachment_image_tag @post_image, :image, :fill, 300, 300, class: "pull-left profile-thumb", fallback: "no_image.jpg"%>
</p>

<p>
  <strong>Comment:</strong>
  <%= @post_image.comment %>
</p>

<div>
  <!-- 選択肢一覧 -->
  <!-- selectionsの重複を表示させない -->
  <% selection_name_array = [] %>
  <% @post_image.selections.each do |selection| %>
  <!-- 選択肢に初期設定のselectを表示させないかつ選択肢が重複していない -->
  <% if selection.name != "select" && selection_name_array.exclude?(selection.name) %>
  <% selection_name_array.push(selection.name) %>
  <%= form_for [@post_image, @answer] do |f| %>
  <div>
    <%= f.hidden_field :selection_id, :value => selection.id %>
    <%= f.submit selection.name_i18n, class: "btn btn-sm btn-primary" %>
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>
<%= form_with model: @selection, local: true do |form| %>
<%= form.hidden_field :post_image_id, :value => @post_image.id %>
<%= form.select :name, Selection.names_i18n.keys.map { |k| [Selection.names_i18n[k], k]} %>
<%= form.submit "新しい選択肢を追加する",class:"btn-sm btn-primary" %>
<% end %>
</div>
<% if @post_image.user_id == current_user.id %>
<%= link_to 'Edit', edit_post_image_path(@post_image) %> |
<% end %>
<%= link_to 'Back', post_images_path %>
