<li>
  <i class="fa fa-calendar"></i><%= @post_image.created_at.strftime('%Y/%m/%d') %>
</li>
<% if current_user.favorited_by?(@post_image) %>
<li>
  ああああああ
  <%= link_to post_image_unlike_path do %>
  <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
  <%= @post_image.favorites.count %> いいね
  <% end %>
</li>
<% else %>
<li>
  lllllll
  <%=  link_to post_image_like_path do %>
  <i class="fa fa-heart-o" aria-hidden="true"></i>
  <%= @post_image.favorites.count %> いいね
  <% end %>
</li>
<% end %>
