<!-- モーダル -->
<div class="modal fade" id=<%= selection.name %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">回答者情報:<%= selection.name_i18n %></h4>
      </div>
      <div class="modal-body">
        <table class="table table-stripe">
          <tbody>
            <tr>
              <th class="info">ユーザー名</th>
              <th class="warning">４人麻雀段位</th>
              <th class="warning">３人麻雀段位</th>
            </tr>
            <% selection.answers.each do |answer| %>
            <tr>
              <td><%= answer.user.name %></td>
              <td><%= answer.user.dan_4p_proper_i18n %></td>
              <td><%= answer.user.dan_3p_proper_i18n %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
