<div class="container-fluid">
  <div class="row">
    <!-- 左側 -->
    <div class="col-lg-6 margin-col col-xs-12 col-sm-12">
      <div class="row">
        <div class="index-content back-none">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <!-- render_card -->
            <%= render 'site/post_images/card', post_image: @post_image %>
          </div>
        </div>
      </div>
      <div class="row">
        <h3>　コメント</h3>
        <p>　<%= @post_image.comment %></p>
      </div>
      <div class="row">
        <!-- editボタン -->
        <% if @post_image.user_id == current_user.id %>
        <%= link_to 'Edit', edit_post_image_path(@post_image.id),class:"btn btn-info btn-block edit-btn" %>
        <% end %>
      </div>
    </div>
    <!-- 右側 -->
    <div class="col-lg-6 col-sm-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="charts">
            <div class="chart chart--dev">
              <span class="chart__title">
                <h2>Answers</h2>
              </span>
              <div class="chart-margin">
                <ul class="chart--horiz">
                  <!-- 重複したselectionを表示しない -->
                  <% selection_name_array = [] %>
                  <% @selections.each do |selection| %>
                  <% if selection.name != "select" && selection_name_array.exclude?(selection.name) %>
                  <% selection_name_array.push(selection.name) %>
                  <!-- 重複したselectionを表示しない -->

                  <!-- answers のパラメータ作成 -->
                  <% answers_count = 0 %>
                  <% @selections.each do |selection| %>
                  <% answers_count += selection.answer_count %>
                  <% end %>
                  <div class="row col-lg-9 col-sm-9 col-xs-9">
                    <li class="chart__bar"
                      style="width: <%= ((selection.answer_count.to_f/answers_count.to_f)*100).to_f.round.to_s %>%; min-width: 2em;">
                      <span class="chart__label">
                        <%= selection.name_i18n %>
                      </span>
                    </li>
                  </div>
                  <div class="row col-lg-3 col-sm-3 col-xs-3 chart-modal">
                    <!-- モーダルボタン -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                      data-target=<%= "#"+selection.name %>>
                      回答数: <%= selection.answer_count %>
                    </button>
                    <!-- ==render モーダル内容== -->
                    <%= render :partial => "modal",locals: {selection: selection} %>
                  </div>
                  <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!-- comment入力 -->
      <div class="well col-lg-12">
        <div>
          <label for="l1">
            <span>
              <h3><em><%= @answer.user.name %> answer</em></h3>
            </span>
            <span class="btn btn-success text-size"><%= @answer.selection.name_i18n %></span>
            <span>**意見を投稿する</span>
          </label>
        </div>
        <div>
          <%= form_for @post_comment, url: post_comments_path do |form| %>
          <%= form.text_area :comment,id:"l1",placeholder:"意見を入力",class:"form-control" %>
          <%= hidden_field_tag :answer_id, @answer.id %>
          <%= form.submit "意見を投稿", class:"btn btn-primary btn-block btn-base-1 mt-20" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="col-lg-12">
  <div class="row">
    <table class="table table-stripe">
      <% @comments.each do |comment| %>
      <tr>
        <th class="info" width="20%">
          <%= attachment_image_tag comment.answer.user, :profile_image,class: "img-circle profile-thumb", fallback: "no_image.jpg", size:'50x50' %><br>
          <span><%= comment.answer.user.name %>：<%= comment.answer.selection.name_i18n %></span>
        </th>
        <td>
          <small>Comment</small>
          <p><%= comment.comment %></p>
          <small
            style="position:relative; margin-right:0px;">投稿日時：<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></small>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
