<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @answer.user_id %>
</p>

<p>
  <strong>Selection:</strong>
  <%= @answer.selection_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @answer.comment %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
