<%= form_with model: @post_image,local: true do |form| %>

<label for="">Name</label>
<%= current_user.name %>

<div class="field">
  <label>４人麻雀</label>
  <%= form.radio_button :image_type, :player_4, checked: "checked" %>
  <label>３人麻雀</label>
  <%= form.radio_button :image_type, :player_3%>
  <label>その他</label>
  <%= form.radio_button :image_type, :others%>
</div>

<div class="field">
  <label for="">画像投稿</label>
  <div>
    <%= attachment_image_tag @post_image, :image, :fill, 200, 200, class: "pull-left profile-thumb", fallback: "no_image.jpg"%>
    <%= form.attachment_field :image %>
  </div>
</div>

<!-- cocoonによる選択肢追加 -->
<div class="selections">
  <%= form.fields_for :selections do |f| %>
  <%= render "selection_fields", f: f %>
  <% end %>
  <div class="links">
    <%= link_to_add_association "選択肢追加", form, :selections %>
  </div>
</div>

<div class="field">
  <%= form.label :comment %>
  <%= form.text_area :comment %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
